@inherits LayoutComponentBase

@inject ILocalStorageService localStore
@inject ICartService cartService
@inject IApiService apiService
@inject AppState appState
@implements IDisposable
@inject NavigationManager NavManager
@inject IFavProduct favProduct
@inject IJSRuntime JSRuntime


<CascadingValue Value="this">
   
    <div class="main" id="main">
         @*Landing page
         <div class="containerA">
               <img class="abc" src="images/logo1.png" alt="..." />
                <p class="subtitle"> Coming Soon</p>
                @*<i class="fas fa-arrow-alt-circle-down"></i>

                <form>
                    <input type="email" class="input-field" placeholder="Enter Your Email ...">
                    <button class="btn">Submit</button>
                </form>*@
          @*</div>*@
        <div class="container-fluid navbarFixedTop scrolled fixed-top pb-md-0">
            <div class="navItemsBar row">
                <div class="col-12 text-center currCon">
                    <ul class="navbar-nav navbarMain d-none d-lg-inline">
                        <li class="nav-item d-none d-lg-inline">
                            <a href="/" class="topBtn d-none d-lg-inline"><img src="images/logo1.png" class="logo" /></a>
                        </li>

                        <li class="nav-item" style="margin-left:2px;">
                            <a class="nav-link nav-itemMobile" href="/">
                                Home
                            </a>
                        </li>
                        <li class="nav-item" style="margin-left:2px; ">
                            <a class="nav-link nav-itemMobile" href="/contact">
                                Contact us
                            </a>
                        </li>
                        <li class="nav-item" style="margin-left:2px;">
                            <a class="nav-link nav-itemMobile" href="/">
                                News Events
                            </a>
                        </li>
                        <li class="nav-item" style="margin-left:2px;">
                            <a class="nav-link nav-itemMobile" href="/AboutUs">
                                About us
                            </a>
                        </li>
                        <li class="nav-item pr-0" style="margin-right:15px;">
                            <a class="nav-link nav-itemMobile shopNow" href="/allproducts/-1">
                                Shop Now
                            </a>
                        </li>
                        @if (appState.user == null)
                        {
                            <li class="nav-item" style="margin-right:15px;">
                                <a href="/login/null" class="nav-link d-none d-lg-inline" style="color:black;"><i class="fas fa-user"></i></a>
                            </li>
                        }
                        @if (appState.user != null)
                        {
                            <li class="nav-item" style="margin-right:15px;">
                                <a href="/Profile" class="nav-link d-none d-lg-inline" ><i class="fas fa-user" style="color:black;"></i></a>
                            </li>
                            <li class="nav-item">
                                <button class="btn nav-link p-0 d-none d-lg-inline" @onclick="Logout"><i class="fas fa-sign-out-alt"></i></button>
                            </li>

                        }
                        <li class="nav-item p-0" style="margin-right:15px;">
                            <a href="/cart" class="topBtn cartBtn d-none d-lg-inline"><i class="topIcons fas fa-shopping-cart" style="color:black;"></i> <span class="cartCount">@appState.cartItemCount</span></a>
                        </li>
                        <li class="nav-item p-0" style="margin-right:15px;">
                            <a href="/fav" class="topBtn cartBtn d-none d-lg-inline"><i class="topIcons fas fa-heart" style="color:black;"></i> <span class="cartCount">@appState.favProductCount </span></a>
                        </li>
                        <li class="nav-item pl-0" style="margin-right:15px;">
                            <div class="form-group p-0 currencyDrop d-none d-lg-inline">
                                <select class="" id="currType" value="@currType" @onchange="CurrencyChange" style="color:black;">
                                    <option value="LKR">LKR</option >
                                    <option value="USD">USD</option >
                                </select>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>        
           
    
       @*<CascadingValue Value="this">
    <div class="main" id="main">
        <div class="containerA">
               <img class="abc" src="images/logo1.png" alt="..." />
                <p class="subtitle"> Coming Soon</p>
                @*<i class="fas fa-arrow-alt-circle-down"></i>

                <form>
                    <input type="email" class="input-field" placeholder="Enter Your Email ...">
                    <button class="btn">Submit</button>
                </form>
          </div>
       
        <div class="container-fluid navbarFixedTop scrolled fixed-top pb-md-0">
            <div class="navItemsBar row">
                <div class="col-12 text-center currCon">
                    <ul class="navbar-nav navbarMain d-none d-lg-inline">
                        <li class="nav-item d-none d-lg-inline">
                            <a href="/" class="topBtn d-none d-lg-inline"><img src="images/logo1.png" class="logo" /></a>
                        </li>

                        <li class="nav-item" style="margin-left:4px;">
                            <a class="nav-link nav-itemMobile" href="/">
                                Home
                            </a>
                        </li>
                        <li class="nav-item" style="margin-left:4px;">
                            <a class="nav-link nav-itemMobile" href="/contact">
                                Contact us
                            </a>
                        </li>
                        <li class="nav-item" style="margin-left:4px;">
                            <a class="nav-link nav-itemMobile" href="/contact">
                                News Events
                            </a>
                        </li>
                        <li class="nav-item" style="margin-left:7px;">
                            <a class="nav-link nav-itemMobile" href="/AboutUs">
                                About us
                            </a>
                        </li>
                        <li class="nav-item pr-0" style="margin-left:8px;">
                            <a class="nav-link nav-itemMobile shopNow" href="/allproducts/-1">
                                Shop Now
                            </a>
                        </li>
                        @if (appState.user == null)
                        {
                            <li class="nav-item" style="margin-left:7px;">
                                <a href="/login/null" class="nav-link d-none d-lg-inline"><i class="fas fa-user"></i></a>
                            </li>
                        }
                        @if (appState.user != null)
                        {
                            <li class="nav-item" style="margin-left:7px;">
                                <a href="/Profile" class="nav-link d-none d-lg-inline"><i class="fas fa-user"></i></a>
                            </li>
                            <li class="nav-item">
                                <button class="btn nav-link p-0 d-none d-lg-inline" @onclick="Logout"><i class="fas fa-sign-out-alt"></i></button>
                            </li>

                        }
                        <li class="nav-item p-0" style="margin-left:7px;">
                            <a href="/cart" class="topBtn cartBtn d-none d-lg-inline"><i class="topIcons fas fa-shopping-cart"></i> <span class="cartCount">@appState.cartItemCount</span></a>
                        </li>
                        <li class="nav-item p-0" style="margin-left:7px;">
                            <a href="/fav" class="topBtn cartBtn d-none d-lg-inline"><i class="topIcons fas fa-heart"></i> <span class="cartCount">@appState.favProductCount </span></a>
                        </li>
                        <li class="nav-item pl-0" style="margin-left:7px;">
                            <div class="form-group p-0 currencyDrop d-none d-lg-inline">
                                <select class="" id="currType" value="@currType" @onchange="CurrencyChange">
                                    <option value="LKR">LKR</option>
                                    <option value="USD">USD</option>
                                </select>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>*@
       
        @*<header class="masthead bg-primary text-white text-center">*@
            @*otherway- landing page
            <div class="masthead text-white >
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="images/logo1.png" alt="..." />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">COMING SOON</h1><br /><br /><br>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                @*<p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p>*@
            @*</div> otherway- landing page*@
            
        @*</header>*@
            
        <div class="content">
            @Body
           
        </div>

        <div class="footerBack">
            <div class="container-fluid footer">
                <div class="row m-0 py-4">
                    <div class="col-12">
                        <div class="container upperPart">
                            <div class="row">
                                <div class="col-12 col-md-7 col-lg-7 centerColLeft">
                                    <div>
                                        <img src="images/FCCISL Logo.jpg" class="footerLogo mb-4" />
                                        <img src="images/SBN HR Logo.png" class="footerLogo mb-4" />
                                        <p class="footerParas"><i class="fas fa-map-marker-alt"></i> Address <br />&nbsp;&nbsp;&nbsp; Federation House, No. 17/1, 1st Lane, Gothami Road, Colombo 0080</p>
                                        <p class="footerParas"><i class="fas fa-phone-alt"></i> TEL: <a href="tel:0112867505">@*011 286 7505*@</a></p>
                                        <p class="footerParas"><i class="fas fa-envelope-open">

                                        </i> Email - <a href="mailto: wanijalk@gmail.com"> wanijalk@gmail.com</a></p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 col-lg-5 centerCol2">
                                    <div class="">
                                        <h4>Quick Links</h4>
                                        <p><a href="#">Home</a></p>
                                        <p><a href="/supportUs">Contact Us</a></p>
                                         <p><a href="/news">NewsEvents</a></p>
                                        <p><a href="/joinasVolunteer">AboutUs</a></p>
                                       
                                        
                                        @*Hidden*@
                                        @*<p><a href="/gallery">Gallery</a></p>
                                        <p><a href="/news">News</a></p>
                                        <p><a href="/Projects" target="_top">Project Run</a></p>
                                        <p><a href="/events">Events</a></p>
                                        <p><a href="https://www.slaccom.com/" target="_blank">Sri Lanka America Chamber </a></p>*@@*Hidden*@
                                        <div class="socialIcons d-inline-flex">
                                            <a href="https://www.facebook.com/mothersrilanka.lk/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                            <a href="https://www.youtube.com/channel/UCntDodMs28DE1A-pTG9du6A" target="_blank"><i class="fab fa-youtube"></i></a>
                                            <a href="https://www.instagram.com/mothersrilankaofficial" target="_blank"><i class="fab fa-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid copyRightsFull">
                <div class="container copyRights">
                    <div class="row m-0 pt-3">
                        <div class="col-12 text-center d-lg-block">
                            <p>© <b>@year</b> All Rights Reserved | Wanija.lk <a class="footerLink" target="_blank" href="http://melstasoft.com/">Powered by Bellvantage  Pvt Ltd.</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (cartService.GetCartPopup())
        {
            <div class="cartPopup">
                <div class="row">
                    <div class="col-12 cartPopupTop">
                        <h3 class="pt-4 text-center">Cart</h3>
                        <button class="btn cartPopupCloseBtn" @onclick="ClosePopup"><i class="fas fa-times"></i></button>
                    </div>
                </div>

                <div class="cartPopupItems">
                    @if (cartService.GetCartProducts().Count() > 0)
                    {
                        @foreach (var cartProduct in cartService.GetCartProducts())
                        {
                            <div class="row">
                                <div class="col-4" style="margin:0;padding:0">
                                    <a href="@($"product/{cartProduct.Product.productId}")">
                                        <span class="product-image" style="margin:0;padding:0">
                                            <img src="@cartProduct.Product.ImageUrl" alt="" style="width:100%">
                                        </span>
                                    </a>
                                </div>
                                <div class="col-8">
                                    <div class="product-block" style="color:black">
                                        <div class="product-info">
                                            <p class="product-name2">
                                                <a href="@($"product/{cartProduct.Product.productId}")" style="color:black">
                                                    @cartProduct.Product.name
                                                </a>
                                            </p>
                                            <div class="price-box2">
                                                <span class="regular-price" id="product-price-92-viewed">
                                                    <span class="price" style="margin-left:5px">@appState.currRate.CurrencySymbol@Convert.ToDouble(String.Format("{0:0.00}", @Math.Round(cartProduct.Product.SellingPrice / appState.currRate.BuyingRate, 2))).ToString("N")</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="cartPopupBtns">
                    <div class="row">
                        <div class="col-12 px-5 pb-4">
                            <hr />
                            <button class="btn checkoutBtn w-100" @onclick="GoToCheckout">VIEW CART</button>
                            <button class="redText link btn w-100" @onclick="CountinueShopping">Continue Shopping</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <button @onclick="OnButtonClick" class="btn btnTop"><i class="fas fa-chevron-up"></i></button>

</CascadingValue>

@code {

    private List<CartItem> cartProducts = new List<CartItem>();
    public User User { get; set; }
    private List<Product> favproducts = new List<Product>();

    private string currType = "LKR";

    DateTime myDateTime = DateTime.Now;
    string year;

    protected override void OnInitialized()
    {
        appState.OnChange += StateHasChanged;
        year = myDateTime.Year.ToString();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            User = await localStore.GetItemAsync<User>("user");
            currType = await localStore.GetItemAsync<string>("currency");
            if(currType == "" || currType == null)
            {
                currType = "LKR";
            }

            
            GetRate();

            appState.SetUser(User);
            appState.SetCurrType(currType);


            if (User != null)
            {
                cartProducts = await localStore.GetItemAsync<List<CartItem>>("cart-" + User.CustomerId);
                favproducts = await localStore.GetItemAsync<List<Product>>("fav-" + User.CustomerId);
            }
            else
            {
                cartProducts = await localStore.GetItemAsync<List<CartItem>>("cart-0");
                favproducts = await localStore.GetItemAsync<List<Product>>("fav-0");
            }

            if (cartProducts != null)
            {
                cartService.SetCart(cartProducts);
                appState.SetCartItemCount(cartService.GetTotalCount());
            }
            else
            {
                cartService.EmptyCart();
                appState.SetCartItemCount(0);
            }

            int selectedOutletId = await localStore.GetItemAsync<int>("outlet");


            if (favproducts != null)
            {
                favProduct.SetFav(favproducts);
                appState.SetFavProductCount(favProduct.GetTotalCount());
            }

            //appState.SetOutlet(selectedOutletId);
            try
            {
                await JSRuntime.InvokeAsync<object>("dropdown");
                await JSRuntime.InvokeAsync<object>("NavToggle");
                await JSRuntime.InvokeAsync<object>("ScrollButton");
            }
            catch (Exception e)
            {

            }
            StateHasChanged();
        }
    }

    private void GoToCheckout()
    {
        cartService.SetCartPopup(false);
        NavManager.NavigateTo("/cart");
    }

    private void CountinueShopping()
    {
        cartService.SetCartPopup(false);
        NavManager.NavigateTo("/allproducts/-1");
    }

    private void ClosePopup()
    {
        cartService.SetCartPopup(false);
    }

    private async void Logout()
    {
        User = null;
        appState.SetUser(null);
        cartService.EmptyCart();
        appState.SetCartItemCount(0);
        favProduct.EmptyFav();
        appState.SetFavProductCount(0);
        await localStore.RemoveItemAsync("user");

        NavManager.NavigateTo("/");
    }

    public void Dispose()
    {
        appState.OnChange -= StateHasChanged;
    }

    private async void OnButtonClick()
    {
        await JSRuntime.InvokeVoidAsync("OnScrollEvent");
    }

    @functions {

        async void CurrencyChange(ChangeEventArgs e)
        {
            currType = e.Value.ToString();
            await localStore.SetItemAsync("currency", currType);
            appState.SetCurrType(currType);
            GetRate();
            StateHasChanged();
        }
    }

    private async void GetRate()
    {
        Rate rate = await apiService.GetRate(currType);
        if(rate.Id == 0 || currType == "LKR")
        {
            rate.CurrencySymbol = "Rs.";
            rate.BuyingRate = 1;
        }
        appState.SetCurrRate(rate);
        StateHasChanged();
    }
}
